root {
    display: block;
}

#title {
    -fx-pref-width: 7in;
    -fx-font-size: 44px;
    -fx-border-color: none;
}

.parentClass {
    -fx-padding: 10px;
    -fx-border-color: none;
}

.displayLabel, .displayLabel-big, .displayLabel-123, .displayLabel-bigger {
    -fx-pref-width: .6in;
    -fx-pref-height:.6in;
    -fx-font-size: 12px;
    -fx-font-weight: bold;
    -fx-text-fill: #333333;
    -fx-effect: dropshadow( gaussian , rgba(255,255,255,0.5) , 0,0,0,1 );
    -fx-alignment: center;
    -fx-border-color: black;
    -fx-border-width: 1px;
    -fx-border-insets: 1px;
}

.displayLabel-123 {
    -fx-pref-width: .3in;
    -fx-pref-height:.3in;
}

.displayLabel-bigger {
    -fx-font-size: 20px;
    -fx-pref-width: 1in;
    -fx-pref-height: 1in;
}

.displayLabel-big {
    -fx-pref-width: .75in;
    -fx-pref-height:.75in;
}

#welcome-text {
    -fx-font-size: 32px;
    -fx-font-family: "Arial Black";
    -fx-fill: #818181;
    -fx-effect: innershadow( three-pass-box , rgba(0,0,0,0.7) , 6, 0.0 , 0 , 2 );
}

#actiontarget {
    -fx-fill: FIREBRICK;
    -fx-font-weight: bold;
    -fx-effect: dropshadow( gaussian , rgba(255,255,255,0.5) , 0,0,0,1 );
}

.button {
    -fx-text-fill: white;
    -fx-font-family: "Arial Narrow";
    -fx-font-weight: bold;
    -fx-background-color: linear-gradient(#61a2b1, #2A5058);
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}

.isVowel {
    -fx-font-size: 24px;
    -fx-background-color: pink;
    -fx-border-style: dashed;

}

.isVowelBigger {
    -fx-font-size: 20px;
    -fx-background-color: pink;
    -fx-border-style: dashed;

}

.isConsonant {
    -fx-font-size: 24px;
    -fx-background-color: rgb(150,150,255);
    -fx-border-style: dashed;
}

.isConsonantBigger {
    -fx-font-size: 20px;
    -fx-background-color: rgb(150,150,255);
    -fx-border-style: dashed;
}

.isEven {
    -fx-background-color: rgb(31, 171, 171);
    -fx-border-style: dashed;
}

.isOdd {
    -fx-background-color: rgb(219, 26, 64);
    -fx-border-style: dashed;
}

.isDivisibleBy6 {
    -fx-background-color: rgb(26, 219, 97);
    -fx-border-style: dashed;
}

.contains7 {
    -fx-background-color: rgb(255, 251, 25);
    -fx-border-style: dashed;
}
